body, html{
    color: rgb(24, 21, 16);
}
header{
    background-color: rgb(29, 25, 20);
    color: rgb(240, 240, 240);
    font-size: xx-large;
    text-align: center;
}


main {  /* Centers all text inside the main element  */
    text-align: center;
}

.container-wrap {
    gap: 0; /* Overwrites gap from style.css */
}

.container-wrap p {   /* paragraph size in the main container */
    max-width: 1600px;
    width: 85%;
    font-size: 18px;
}

.content-text{  /* Size of the wave section text */
    max-width: 50%;
}

.img-text-container {   /* Sizing of the container with image and image text */
    min-width: 30%;
    max-width: 40%;
    margin-top: 50px;
}

.img-text-container img{    /* Max width of image equal to container size or max image */
    max-width: 100%;
}

h2 {    /* h2 and h3 size */
    font-size: xx-large;
}
h3 {
    font-size: 36px;
}

@media screen and (max-width: 1000px) {
    /* Changes flex direction to give better space for text & image on smaller screens */
    .content-container {
        flex-direction: column;
    }

   .img-text-container{
     max-width: 85%;
   }
    /* Larger text */
   .content-text{
     max-width: 85%;
   }
}