body, html{
    color: #181510;
}
header{
    background-color: #1d1914;
    color: rgb(240, 240, 240);
    font-size: xx-large;
}


main {
    height: 500vh;
    display: flex;
    justify-content: center;
}

.access-text {
    padding: 50px 0px;
    max-width: 85%;
    text-align: center;
}
.access-text p {
    font-size: large;
    line-height: 1.5;
}
br { /* Creates bigger spacing between paragraphs */
    content: "";
    font-size: 200%;
}


h2 {
    font-size: xx-large;
}