body, html{
    color: rgb(24, 21, 16);
}
header{
    background-color: rgb(29, 25, 20);
    color: rgb(240, 240, 240);
    font-size: xx-large;
}


main {
    text-align: center;
}

.container-wrap {
    gap: 0;
}
.container-wrap p {
    max-width: 85%;
}
.img-text-container {
    max-width: 35%;
}

.img-text-container img{
    max-width: 100%;
}


h2 {
    font-size: xx-large;
}

@media screen and (max-width: 1000px) {
    /* Changes flex direction to give better space for text & image on smaller screens */
     .content-container {
         flex-direction: column;
     }
 
   .flip {
     flex-direction: column-reverse;
   }
 
   .img-text-container{
     max-width: 85%;
   }
   .content-text{
     max-width: 85%;
   }
 }
 