
.bg {
    background-image: url("/IMG/booking/bookingBG.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
}

.header {
    color: white;
    position: absolute;
    text-align: center;
}

.header h1{
  margin-bottom: 20px;
  color: #f6f3ef;
  font-size: 4rem;
}

.headerbtn {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  position: absolute;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
  font-size: larger;
}

.headerbtn:hover {  
  border: 2px solid #CFB997;
  color: #CFB997;
}

.about-us-page {
display: flex;
height: auto;
width: auto;
flex-direction: column;
margin: 200px;
}

.about-us-container {
display: flex;
flex-direction: row;
align-items: center;
height: 100%;
}

.about-us-text {
  color: black;
  flex: 1;
  order: 1;
  text-align: center;
  align-items: center;
  border-radius: 10px;
}

.aboutus-image {
height: 60%;
display: flex;
justify-content: center;
flex: 1;
order: 2;

}

.about-us-container2 {
display: flex;
flex-direction: row;
align-items: center;

}

.about-us-info {
  color: black;
  flex: 1;
  order: 3;
  text-align: center;
  align-items: center;
}

#reservation {
  background:rgba(0, 0, 0, 0.5) url(/IMG/booking/reservation.jpg);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.reservation-page {
padding: 20px 0;
height: auto;
display: flex;
align-items: center;
justify-content: center;
}

.reservation-page form {
display: grid;
grid-row-gap: 20px;
background-color: white;
border-radius: 5%;
width: 700px;
padding: 20px;
box-shadow: 0px 0px 38px -7px rgba(0, 0, 0, 0.5);
-webkit-box-shadow: 0px 0px 38px -7px rgba(0, 0, 0, 0.5);
}

.reservation-page h1, .reservation-button {
text-align: center;
text-transform: uppercase;
text-decoration: underline;
text-decoration-color: #CFB997;
}

.input-field {
display: flex;
justify-content: space-between;
margin: 4px;
}

.input-field label, .text-box label {
font-weight: 575;
}

.input-field input, select {
height: 40px;
outline-style: solid;
border-radius: 4px;
outline-color: #CFB997;
border: none;
box-shadow: 0px 12px 29px -11px rgba(0, 0, 0, 0.5);
-webkit-box-shadow: 0px 12px 29px -11px rgba(0, 0, 0, 0.5);;
}

.text-box textarea {
outline-style: solid;
border-radius: 4px;
outline-color: #CFB997;
border: none;
box-shadow: 0px 12px 29px -11px rgba(0, 0, 0, 0.5);
-webkit-box-shadow: 0px 12px 29px -11px rgba(0, 0, 0, 0.5);;
margin-top: 6px;
}

.reservation-button {
  margin: 2%;
  text-align: center;
  font-weight: lighter;
}

.reservation-btn {
background-color: #CFB997;
border: none;
color: white;
padding: 14px 30px;
transition-duration: 0.4s;
cursor: pointer;
border-radius: 10px;
font-size: larger;
}

.reservation-btn:hover {  
border: 2px solid #CFB997;
color: black;
}


@media (max-width: 768px) {
[class="about-us-page"] {
  flex-direction: column;
  height: 100%;
}
[class="aboutus-image"] {
  order:1;
  height: 50%;
  margin: 35px;
}
[class="about-us-text"] {
  order:2;
}
}