body {
  background-color: #f4efe9;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
	letter-spacing: 1px;
}
/* HEADER */
.bg {
    background-image: url("/IMG/booking/bookingBG.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
}

.header {
    color: white;
    position: absolute;
    text-align: center;
}

.header h1{
  margin-bottom: 20px;
  color: #f6f3ef;
  font-size: 4rem;
}

.headerbtn {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
  font-size: x-large;
  min-width: 200px;
}

.headerbtn:hover {  
  border: 2px solid #CFB997;
  color: #CFB997;
}
/* HEADER end */

/* BOOKING INFORMATION */
.Booking_info
{
  height: 400vh;
  width: 100vw;
  background-color: #e3dcd1;
}

/* BOOKING FORM */
.container {
  background-color: #140d03;
	width: 100vw;
	display: flex;
  justify-content: center;
  align-items: center;
  color: #e3cdaa;
}

.heading {
	font-size: 2.5rem;
	text-transform: uppercase;
  text-align: center;
}

.container-form {
  margin: auto;
}
form {
	display: grid;
	grid-row-gap: 20px;
  min-width: 500px;
  padding: 20px;
}
form p {
	font-weight: 600;
}
.form-field {
	display: flex;
	justify-content: space-between;
}

.form-field input, select{
  min-width: 44%;
  background-color: #e3dcd1;
  color: #2b251d;
  border-radius: 10px;
}

.btn {
  background-color: transparent;
  border: 2px solid #e3cdaa;
  color: #e3cdaa;
  position: relative;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
  font-size: larger;
  padding: 10px;
  margin-bottom: 40px;
}

.btn:hover {
  border: 2px solid #e3dcd1;
  color: #e3dcd1;
}

/* BOOKING FORM end */

@media screen and (max-width: 768px) {
	.container {
		flex-direction: column;
	}
	.container-form  {
		padding: 10px;
	}
	.heading-phone {
		font-size: 17px;
	}
	
}

@media screen and (min-width: 768px) and (max-width: 880px) {
	.container-time {
		padding: 30px;
	}
	.container-form  {
		padding: 10px;
	}
	
	
}