body, html {
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

.header {
    background-image: url(/IMG/dining/menuBG.png);
    height: 900px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    }

.headertext{
    padding-top: 2%;
    margin: auto;
    color: #f6f3ef;
    font-size: xx-large;
}

.drinkchart{
    height: 370px;
    background-color: #2b251d;
    display: flex;
    align-items: center;
    justify-content: center;
}
.drinkcharttext{
    padding-bottom: 5%;
    margin: auto;
    color: #f6f3ef;
    font-size: xx-large;
    text-align: center;
}

.drinkbtn {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 14px 30px;
    margin-top: 15%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.5s;
    cursor: pointer;
    border-radius: 10px;
    font-size: large;
  }
  
  .drinkbtn:hover {  
    border: 2px solid #CFB997;
    color: #CFB997;
  }


/* Background images for mealtype headlines */

.mealtypes
{
    background-size: cover;
    height: 340px;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 4rem;
    color: #f6f3ef;
}

.startersbg
{background-image: url(/IMG/dining/food/starters.png);}

.pizzabg
{background-image: url(/IMG/dining/food/pizza.png);}

.pastabg
{background-image: url(/IMG/dining/food/pasta.png);}

.dessertbg
{background-image: url(/IMG/dining/food/dessert.png);}

/* Background images for mealtype headlines end */








/* main */
.meny-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: 50px 0;
}

.dishes {
    margin: 30px 0;
}


.allergens {
    font-size: 18px;
    opacity: 90%;
    font-style: italic;
    font-family: 'Times New ROman', Times, serif;
    color: #4a4032; 
    text-align: center;  
}
#Meny {
    margin-bottOm: 70px;
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Times New ROman', Times, serif;
    color: rgb(230, 230, 230);
    text-align: center;
}

@media only screen and (min-width: 600px) {
    .meny-text {
        width: 100%;

    }
}