body, html {
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

.bg {
    background-image: url(/IMG/dining/menuBG.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* MENU */
.mealtypes {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-attachment: fixed;
    height: 35vh;
    color: rgb(240, 240, 240);
    font-size: 54px;
    font-weight: normal;
    border-top: 4px solid #7f6e56; /* Adds small border on top of images */

} /* Styles mealtype headlines with fixed image bg and aligns and styles text */

/* Background images for mealtype headlines */
.startersbg
{background-image: url(/IMG/dining/food/starters.png);}

.pizzabg
{background-image: url(/IMG/dining/food/pizza.png);}

.pastabg
{background-image: url(/IMG/dining/food/pasta.png);}

.dessertbg
{background-image: url(/IMG/dining/food/dessert.png);}
/* Background images for mealtype headlines end */

.menu-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 60px 0; /* Uses padding to creates whitespace between elements. Also possible to use margin as gaps but this would create a whitespace where the background color is visible */
} /* Creates div for meny text, centers text and creates margins between mealtype header and meny text */

.dishes {
    max-width: 85%; 
}

.dishes p { 
    color: #2b251d;
} /* Changes text color of dishes and price */

.allergens {
    font-size: 18px;
    opacity: 95%;
    font-style: italic;
    font-family: 'Times New ROman', Times, serif;
    color: #4a4032;   
} /* Styling the allergens text */
/* MENU end */

/* DRINKS */
.drinkchart{
    height: 30vh;
    background-color: #2b251d;
    display: flex;
    align-items: center;
    justify-content: center;
}/* Styles drinkchart div and aligns items inside div */

.drinkcharttext {
    text-align: center;
    color: rgb(240, 240, 240);
    gap: 1.5vh;
    display: flex;
    flex-direction: column;
}
/* DRINKS end */


@media only screen and (max-width: 700px) {
    .mealtypes {
        height: 20vh;
    }
} /* Makes mealtypes headline divs with image smaller on smaller screens */
