body, html {
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

.bg {
    background-image: url(/IMG/dining/menuBG.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mealtypes {
    background-size: cover;
    height: 35vh;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 4rem;
    color: #f6f3ef;
} /* Styles mealtype headlines with fixed image bg and aligns and styles text */

/* Background images for mealtype headlines */
.startersbg
{background-image: url(/IMG/dining/food/starters.png);}

.pizzabg
{background-image: url(/IMG/dining/food/pizza.png);}

.pastabg
{background-image: url(/IMG/dining/food/pasta.png);}

.dessertbg
{background-image: url(/IMG/dining/food/dessert.png);}
/* Background images for mealtype headlines end */

@media only screen and (max-width: 600px) {
    .mealtypes {
        height: 20vh;
    }

    .dishes {
        width: 90%;
    }
} /* Makes mealtypes headline divs with image smaller on smaller screens */



/* main */
.meny-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: 50px 5px 50px 5px;
} /* Creates div for meny text, centers text and creates margins between mealtype header and meny text */

.dishes {
    margin: 20px 0;
} /* Creates bigger margin between each dish */

.dishes p{
    color: #2b251d;
} /* Changes text color of dishes and price */

.allergens {
    font-size: 18px;
    opacity: 95%;
    font-style: italic;
    font-family: 'Times New ROman', Times, serif;
    color: #4a4032;   
} /* Styling the allergens text */

.drinkchart{
    height: 30vh;
    background-color: #2b251d;
    display: flex;
    align-items: center;
    justify-content: center;
}/* Styles drinkchart div and aligns items inside div */

.drinkcharttext{
    color: #f6f3ef;
    font-size: xx-large;
    text-align: center;
    margin: 10px;
}

/* Styles drinkchart headline text */
.drinkcharttext h3{
    margin: 0px 0px 10px 0px;
} /* Overrites h3 margin from style.css and sets another */

.drinkbtn {
    margin-top: 10px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 14px 30px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.5s;
    cursor: pointer;
    border-radius: 10px;
    font-size: large;
} /* Styles drinkchart button */
  
.drinkbtn:hover {  
    border: 2px solid #CFB997;
    color: #CFB997;
    cursor: pointer;
} /* Changes btn on hover */
