.bg {
    background-image:url(/IMG/drikke/rsz_1bar\ \(1\).jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wine-int-container {
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.wine-header {
    margin-top: 0;
    margin-bottom: 5%;
    font-size: 75px;
    text-align: center;
}


.wine-text-container {
    font-size: larger;
    max-width: 50%;
    text-align: center;
}

.wines-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100vw;
    margin-top: 200px;
}

.wine-box {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 50vh;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 5px 20px grey;
}

.image-price {
    display: flex;
    flex-direction: row;
    height: 70%;
}

.wine-price {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    align-content: center;
    font-size: large;
}

.wine-img {
    width: 50%;
}

.wine-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.wine-info {
    font-size: larger;
}

.wines-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100vw;
    margin-top: 200px;
}

.shots-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100vw;
    margin-top: 200px;
}

@media only screen and (min-width: 600px) {
    .wines-container {
        flex-direction: row;
    }

    .wine-box {
        width: 20%;
    }
}