.bg {
    background-image:url(/IMG/drikke/rsz_1bar\ \(1\).jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wine-intformation-container {
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.wine-header {
    margin-top: 0;
    margin-bottom: 2%;
    font-size: 75px;
    text-align: center;
}


.wine-text-container {
    font-size: larger;
    text-align: center;
    max-width: 50%;
}

.wine-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow-x: scroll;
    margin-top: 2%;
    width: max-content;
    gap: 15px;
    justify-content: space-evenly;
}

.wine-boxes {
    transition: .3s;
    max-width: 200px;
    height: 300px;
    border-radius: 10px;
    border: 1px solid rgb(201, 201, 201);
    background: white;
    float: left;
}
.wine-box:hover{
    box-shadow: 0 0 11px
    rgba(33, 33, 33, .2);
}

.image-price {
    display: flex;
    flex-direction: row;
    height: 70%;
}

.wine-price {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    align-content: center;
    font-size: 15px;
}

.wine-img {
    width: 50%;
}

.wine-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.wine-info {
    font-size: 10px;

}

.wines-container {
    overflow: auto;
  }

@media only screen and (min-width: 600px) {
    .wines-container {
        flex-direction: row;
    }

    .wine-box {
        width: 20%;
    }
}