.events-container {
    display: flex;
    padding: 5% 5%;
}

.events-image-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 50%;
}

.events-image-container .col {
    max-width: 45%;
}

.events-image-container .col img{
    max-width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

.events-text-container {
    display: flex;
    width: 50%;
    justify-content: center;
    color: rgb(255, 255, 255);
    flex-wrap: wrap;
}

.headline {
    font-size: 8vw;
}

.description {
    font-size: larger;
}