body, html {
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    background-image:url(/IMG/home/homepageBG-min.png);
    height: 900px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}


.logo {
    margin: auto;
    width: 50%;
    height: 40%;
}

.logo img {
    width: 100%;
}

#logoinfo {
    color: white;
    text-align: center;
    font-size: 200%;
    font-weight: lighter;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#headerbuttons {
    margin: 2%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.events {
    height: 100px;
}

.events-container {
    display: flex;
    flex-direction: column;
    padding: 5% 5%;
}

.meny {
    flex-direction: column-reverse;
}

.events-image-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.events-image-container .col {
    max-width: 45%;
}

.events-image-container .col img{
    max-width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
}

.events-text-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    color: rgb(0, 0, 0);
    align-items: center;
}
.events-text-container-button {
    background-color: transparent;
    border: 2px solid rgb(10, 10, 10);
    color: rgb(10, 10, 10);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
    font-size: larger;
}
    
.events-text-container-button:hover {
    border: 2px solid #CFB997;
    color: #CFB997;
}

.headline {
    margin-top: 0;
    margin-bottom: 5%;
    font-size: 75px;
}

.description {
    font-size: larger;
    max-width: 50%;
    text-align: center;
}

/* Changes the layout of the events and menu section */
@media only screen and (min-width: 600px) {
    .events-container {
        flex-direction: row;
    }

    .meny {
        flex-direction: row;
    }
}