/*Sets body bargin to zero, adds bg image, sets auto scroll to smooth, sets the global font*/
* {
    box-sizing: border-box;
}

html, body{
    scroll-behavior: smooth;    /* Makes the scrollTo function smooth instead of instant */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   /* Sets the font for the entire site */
    margin: 0;
    color: rgb(20, 20, 20);
    overflow: overlay; /* For custom transp scrollbar */
    background-color: rgb(254, 252, 248);
    overflow-x: hidden; /* Page stays non scrollable in the x direction even when an element is larger than the width */

}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {  /* Styles the scrollbar */
    background: rgb(43, 37, 29);}
::-webkit-scrollbar-track {
    background: rgb(127, 110, 86)40;} 

h2 { /* Overwrites set margin of h2 */
    margin: 0;
    border-bottom: 4px solid rgb(127, 110, 86); /* Decorational divivder */
    padding: 10px 40px;
} 


/*Navigation container at the top of the page*/
.navigation {   /* Navigation container when the viewport is wide */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(15, 15, 15, 0.87);
    position: fixed;
    top: 0;
    transition: top 0.6s;
    z-index: 1;
    width: 100%;
}

/* Menu buttons */
.nav-btn {  /* List of buttons */
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.nav-btn a{ /* link elements inside list */
    font-size: 25px;
    font-weight: 450;
    color: rgb(240, 240, 240);
    transition: .4s;
    text-decoration: none;
}

.nav-btn a:hover {
    color: rgb(207, 185, 151);
    transform: scale(1.1);
}

/* Logo in nav container*/
.navigation img {   
    max-width: 140px;
    padding: 20px 0px;  /* Doesnt use full height */
    transition: .4s;
}

.navigation img:hover{
    cursor: pointer;
    transform: scale(1.05);
}

/* Creates a container to hold our nav menu */
.nav {  /* Navigation container that comes when the viewport is small and you press the menu button */
    visibility: hidden; /* Makes it non targetable, so you dont have to tab through two navigation lists if you use keyboard */
    width: 0px;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(16, 16, 16);
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 100px;
}

.nav a {    /* Button styling inside nav */
    font-size: 25px;
    font-weight: 450;
    display: block;
    color: rgb(240, 240, 240);
    padding: 15px 16px;
    text-decoration: none;
}

.nav a:hover {
    color: rgb(207, 185, 151);
}

.close-btn {    /* Positions the close button in the navigation popout element */
    position: absolute;
    top: 15px;
    right: 25px;
}


/* Google icons*/
.material-icons.md1 { /* Menu button */
    font-size: 36px;
    cursor: pointer;
    color: rgb(240, 240, 240);
    display: none;  /* Hidden until changed by @media */
    background-color: transparent;  /* Hides default background and border of button element */
    border: none;
}

.material-icons.md2 {   /* Close button */
    color: rgb(240, 240, 240);
    font-size: 48px;
    background-color: transparent;  /* Hides default background and border of button element */
    border: none;
}

.material-icons.md2:hover {
    color: rgb(207, 185, 151);
    cursor: pointer;
}
/* NAVIGATION end */


/* HEADER */
.bg { /* Sets background image */
    background-repeat: no-repeat;
    background-size: cover;
}

.header { /* Header container */
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2.5vh;
}

.header-text {
    font-size: 70px;
    color: rgb(240, 240, 240);
    font-weight: bold;
    text-align: center; /* Centers text on small screens */
}

.header-buttons {   
    display: flex;
    flex-wrap: wrap;    /* Makes the buttons wrap on small screens */
    gap: 1vh;
    justify-content: center;
}
/* HEADER end */


/* CONTENT CONTAINERS, containers used on most pages to get a similar look and reusable code */
.container-wrap { /* Main container */
    display: flex;
    gap: 14vh;
    flex-direction: column;
    padding: 14vh 0;
    align-items: center;
  }

.container-wrap h2 {    /* h2 sizeing */
    font-size: 48px;
}
  
.content-container { /* Containers for the content */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1600px;  /* Max width for when the screen gets really wide, the content will stop growing */
    gap: 3vh;
}

.content-text { /* Container for text content */
    display: flex;
    text-align: center;
    max-width: 35%;
    align-items: center;
    flex-direction: column;
    font-size: larger;
    gap: 1.5vh;
}

.content-text h2 {
    font-size: 42px;
}

.content-container img{
    max-width: 40%;
}
/* CONTENT CONTAINER end */


/*FOOTER*/
footer {
    background-color: rgb(244, 239, 233);
}

footer .content-text { /* Overrides the max-width of the text container in the footer */
    max-width: fit-content;
    
}

footer .content-container {
    width: 100%;    /* Width and margin auto centering the container, for when width is over 1600px */
    margin: auto;
}

.footer-header{ /* Centering and positioning of text */
    width: 70%;
    max-width: 1400px;
    padding-top: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 100;
    margin: auto;
}

/* Google maps api */
.google-maps {  /* Size for the google maps using aspect ratio*/
    width: 50%; /* Of parent element */
    aspect-ratio: 3/2;
    margin: 20px; 
}

.google-maps iframe {
    width: 100% !important;
    height: 100% !important;
}

.mk1 {  /* Color for symbols in footer */
    color:rgb(127, 110, 86);
    vertical-align: text-bottom ;   /* Aligns icons to the text, normally floats higher*/
}

footer a {  /* Makes a elements similar to p elements */
    text-decoration: none;
    color: rgb(127, 110, 86);
    font-size: 20px;
    margin: 20px 0;
}

footer a:hover{
    text-decoration: underline;
    color: rgb(207, 185, 151);
}

footer a:visited{   /* Changes color after a link has been visited */
    color: rgb(127, 110, 86);
}

footer p {
    font-size: 20px;
}

.footerinfo {
    background-color:rgb(43, 37, 29); 
    color:rgb(207, 185, 151); 
    padding: 20px;
    width: 100%;
}

.footerinfo p {
    font-size: 15px;
    text-align: center;
}
/*FOOTER END*/

/* Universal CSS  */
.img-text-container {   /* Creates a box for an image and text */
    position: relative;
}

.img-text { /* Positions the text at the bottom right of the image */
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: rgba(240, 240, 240, 0.7);
    font-size: small;
    text-align: right;
}

.global-btn {   /* Universal nutton layout used on all pages */
    background-color: transparent;
    border: 2px solid white;
    color: rgb(240, 240, 240);
    padding: 14px 30px;
    text-decoration: none;
    transition-duration: 0.4s;
    border-radius: 10px;
    font-size: larger;
    cursor: pointer;
}
    
.global-btn:hover {  
    border-color: rgb(207, 185, 151);
    color: rgb(207, 185, 151);
}

/* Hides nav buttons when viewport is less than 700px and display menu icon instead */
@media only screen and (max-width: 700px) {
    .nav-btn {
        display: none;
    }

    .material-icons.md1 {
        display: flex;
    }  
}