/*Setter body margin til 0 og legger til bg color*/
* {
    box-sizing: border-box;
}

body {
 margin: 0;
 background-color: #fbfbfb;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Navigation, lager boks øverst på siden*/
.navigasjon {
    display: flex;
    float: left;
    align-items: center;
    justify-content: space-around;
    background-color: #0f0f0fdf;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
    z-index: 1;
}


.material-icons.md1 {
    font-size: 36px;
    cursor: pointer;
    color: rgb(240, 240, 240);
}

.navigasjon img {
    max-width: 140px;
    padding: 20px 0px;
    transition: transform .5s;
}
.navigasjon img:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.navbtn a{
    padding-left: 20px;
    display: none;
    font-size: 20px;
    color: rgb(240, 240, 240);
    text-decoration: none;
    transition: transform .5s;
}

.navbtn a:hover {
    color: #CFB997;
    transform: scale(1.1);
}


/*Medida query: CSS for når viewport er videre enn 600px*/
@media only screen and (min-width: 600px) {
    .navbtn a{
        display: inline-flex;
    }

    .material-icons.md1 {
        display: none;
    }
}


/*Lager en boks som legger seg foran innholdet på siden, denne boksen inneholder navigasjonen*/
.nav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #101010;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 100px;

}

.nav a {
    font-size: 25px;
    font-weight: 450;
    text-align: left;
    display: block;
    color: rgb(240, 240, 240);
    padding: 15px 16px;
    text-decoration: none;
}

.nav a:hover {
    color: #CFB997;
}

.nav .closebtn {
    position: absolute;
    top: 15px;
    right: 25px;
}

.material-icons.md2 {
    color: rgb(240, 240, 240);
    font-size: 48px;
}

.material-icons.md2:hover {
    color: #CFB997;
    cursor: pointer;
}

/*FOOTER*/
footer
{
    background-color: #f4efe9;
}
.footerheader{
    max-width: 100%;
    text-align: center;
    padding-top: 1.5%;
    font-size: 1.5rem;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 15%;
    font-weight: 100;
}

.footercolumn {
    margin: auto;
    float: left;
    width: 50%;
    height: 100%;
    padding: 2.5%;
    padding-left: 7.5%;
  }

.footerrow::after {
    content: "";
    display: table;
    clear: both;
  }

  @media screen and (max-width: 800px) {
    .footercolumn {
      width: 100%;
    }
  }

  .google-maps {
    position: relative;
    padding-bottom: 60%;
    padding-top: 5%;
    height: 0;
  }

  .google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }

footer a:link{
    text-decoration: none;
    color: #7f6e56;
}
footer a:hover{
    text-decoration: underline;
    color: #CFB997;
    cursor: pointer;
}
footer a:visited{
    color: #7f6e56;
}
  footer p {
    font-size: 1.5rem;
  }

  .footerinfo p {
    font-size: 0.8rem;
    text-align: center;
    margin-top: 1%;
  }
  /*FOOTER END*/