/*Sets body bargin to zero, adds bg image, sets auto scroll to smooth, sets the global font*/
* {
    box-sizing: border-box;
}

html, body{
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    color: rgb(20, 20, 20);
    overflow: overlay; /* For custom transp scrollbar */
    background-color: rgb(254, 252, 248);

}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {  /* Styles the scrollbar */
    background: rgb(43, 37, 29);}
::-webkit-scrollbar-track {
    background: rgb(127, 110, 86)40;} 

h2 { /* Overwrites set margin of h2 */
    margin: 0;
    border-bottom: 4px solid rgb(127, 110, 86); /* Decorational divivder */
    padding: 10px 40px;
} 

/*Navigation container at the top of the page*/
.navigation {   /* Navigation container when the viewport is wide */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(15, 15, 15, 0.87);
    position: fixed;
    top: 0;
    transition: top 0.6s;
    z-index: 1;
    width: 100%;
}

/* Menu buttons */
.nav-btn a{
    padding-left: 20px;
    display: none;
    font-size: 25px;
    font-weight: 450;
    color: rgb(240, 240, 240);
    text-decoration: none;
    transition: .4s;
}

.nav-btn a:hover {
    color: rgb(207, 185, 151);
    transform: scale(1.1);
}

/* Logo in nav container*/
.navigation img {
    max-width: 140px;
    padding: 20px 0px;
    transition: .4s;
}

.navigation img:hover{
    cursor: pointer;
    transform: scale(1.05);
}

/* Creates a container to hold our nav menu */
.nav {  /* Navigation container that comes when the viewport is small and you press the menu button */
    width: 0px;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(16, 16, 16);
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 100px;
}

.nav a {    /* Button styling inside nav */
    font-size: 25px;
    font-weight: 450;
    display: block;
    color: rgb(240, 240, 240);
    padding: 15px 16px;
    text-decoration: none;
}

.nav a:hover {
    color: rgb(207, 185, 151);
}

.nav .close-btn {
    position: absolute;
    top: 15px;
    right: 25px;
}

nav button { /* Makes icon background transparent */
 background-color: transparent;
 border: none;
}
/* Google icons*/
.material-icons.md1 {
    font-size: 36px;
    cursor: pointer;
    color: rgb(240, 240, 240);
}

.material-icons.md2 {
    color: rgb(240, 240, 240);
    font-size: 48px;
}

.material-icons.md2:hover {
    color: rgb(207, 185, 151);
    cursor: pointer;
}

/* NAVIGATION end */


/* HEADER */

.bg { /* Sets background image */
    background-repeat: no-repeat;
    background-size: cover;
}

.header { /* Header container */
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2.5vh;
}

.header-text {
    font-size: 70px;
    color: rgb(240, 240, 240);
    font-weight: bold;
    text-align: center; /* Centers text on small screens */
}

.header-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1vh;
    justify-content: center;
}
/* HEADER end */

/* CONTENT CONTAINERS */
.container-wrap { /* Main container */
    display: flex;
    gap: 14vh;
    flex-direction: column;
    padding: 14vh 0;
    align-items: center;
  }

.container-wrap h2 {
    font-size: 48px;
}
  
.content-container { /* Containers for the content */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1600px;
    gap: 3vh; /* Gap for when the content is in column */
}

.content-text { /* Container for text content */
    display: flex;
    text-align: center;
    max-width: 35%;
    align-items: center;
    flex-direction: column;
    font-size: larger;
    gap: 1.5vh;
}
.content-text h2 {
    font-size: 42px;
}

.content-container img{
    max-width: 40%;
}
/* CONTENT CONTAINER end */

/*FOOTER*/
footer {
    background-color: rgb(244, 239, 233);
}

.footer-header{
    max-width: 100%;
    text-align: center;
    padding-top: 1.5%;
    font-size: 24px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10px;
    font-weight: 100;
}

/* Google maps api */
.google-maps {  /* Size for the google maps using aspect ratio*/
    width: 50%;
    aspect-ratio: 3/2;
    margin: 20px;
}

.google-maps iframe {
    width: 100% !important;
    height: 100% !important;
}

.mk1 {
    color:rgb(127, 110, 86);
}

footer a:link{
    text-decoration: none;
    color: rgb(127, 110, 86);
}

footer a:hover{
    text-decoration: underline;
    color: rgb(207, 185, 151);
}

footer a:visited{
    color: rgb(127, 110, 86);
}

footer p {
    font-size: 20px;
}

.footerinfo {
    background-color:rgb(43, 37, 29); 
    color:rgb(207, 185, 151); 
    padding: 20px;
}

.footerinfo p {
    font-size: 15px;
    text-align: center;
}
/*FOOTER END*/

/* Universal CSS  */
.img-text-container {
    position: relative;
}

.img-text {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: rgba(240, 240, 240, 0.7);
    font-size: small;
}

.global-btn {
    background-color: transparent;
    border: 2px solid white;
    color: rgb(240, 240, 240);
    padding: 14px 30px;
    text-decoration: none;
    transition-duration: 0.4s;
    border-radius: 10px;
    font-size: larger;
    cursor: pointer;
}
    
.global-btn:hover {  
    border-color: rgb(207, 185, 151);
    color: rgb(207, 185, 151);
}

/*Medida query: CSS when viewport is wider than 600px, hides menu icon and shows the nav buttons*/
@media only screen and (min-width: 700px) {
    .nav-btn a{
        display: inline-flex;
    }

    .material-icons.md1 {
        display: none;
    }  
}

@media screen and (max-width: 800px) {
    .footercolumn {
        width: 100%;
    }

    .google-maps {
        width: 85%;
    }

    .headerbuttons {
        flex-wrap: wrap;
    }
}