* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(15, 15, 15);
    color: rgb(240, 240, 240);
    scroll-snap-type: y mandatory;  /* Scrolls to the next scroll-snap-align element each time you give scroll input */
    scroll-snap-stop: always;   /* Always stops at an align point (every section) */
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {  /* Styles the scrollbar */
    background: rgb(82, 82, 82);}
::-webkit-scrollbar-track {
    background: rgb(0, 0, 0)40;} 


/*Navigation, top right of the page*/
.navigasjon {
  position: absolute;
  top: 30px;
  right: 30px;
}

.navbtn {
    display: flex;
    gap: 30px;
    list-style-type: none;
    justify-content: end;
}

.navbtn a{
  font-size: 30px;
  color: rgb(240, 240, 240);
  text-decoration: none;
  transition: .5s;
}

.navbtn a:hover{
  color: rgb(43, 182, 170);
}


/* Background with fixed position, follows scroll*/
.bg {
    background-image: url(/IMG/topic/topicBG.png);
    background-repeat: no-repeat;
    background-size: cover;
}


/* Header */
.header-container { /* Sets text middle right, and div to screen height */
    display: flex;
    height: 100vh;
    justify-content: flex-end;
    align-items: center;
    scroll-snap-align: start;
    gap: 5%; /* Gap between gif and text */
}
.header-text {
    margin-right: 4vw;
    font-size: 60px;
    text-align: end;
}
/* Header end */


/* Main container */ 
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section { /* Makes each section minimum 100vh tall, and for each section scroll snap stops at the beginning*/
    height: fit-content;
    min-height: 100vh;
    scroll-snap-align: start;
}

section a {
    color: rgb(43, 182, 170);
}


.topic-container {  /* Container for text and gif */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1600px;
}

.topic-text-container {
    width: 45%;
    font-size: calc(15px + 0.5vw); /* Size gets bigger and smaller with view-width but has a constant of 20px, does'nt get to small */
}

.topic-img-container {
    position: relative;
    width: fit-content; /* Makes the div euqal to the GIF size, to correctly position the image text */
    height: fit-content;
    max-width: 45%;
}

.topic-img-container img {
    max-width: 100%;    /* Image not allowed to be larger than container */
}

.img-text { /* Positions the text at the bottom right of the image */
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: rgba(240, 240, 240, 0.7);
    font-size: small;
    text-align: right;
}

@media only screen and (max-width: 900px) { /* Changes size and orientation of content containers */
    .topic-container {
        flex-direction: column;
    }

    .topic-text-container {
        width: 80%;
    }

    .topic-img-container {
        max-width: 90%;
    }
}

@media only screen and (max-width: 1270px) {
    #animation {
        display: none;  /* Removes the header gif when there is little space left */
    }
}

@media only screen and (max-width: 700px) { /* Changes the header and nav so there isnt any cluttering  */
    .header-container {
        align-items: flex-end;
    }

    .header-text {
        font-size: 8vw;
    }

    .navbtn {
        flex-direction: column;
    }

    .navigasjon {
        top: 0;
        left: 0;
    }
}