* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(15, 15, 15);
    color: rgb(240, 240, 240);
    scroll-snap-type: y mandatory;  /* Scrolls to the next scroll-snap-align element each time you give scroll input */
    scroll-snap-stop: always;
}


/*Navigation, top right of the page*/
.navigasjon {
  position: absolute;
  top: 30px;
  right: 30px;
}

.navbtn {
    display: flex;
    gap: 30px;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: end;
}

.navbtn a{
  font-size: 30px;
  color: rgb(240, 240, 240);
  text-decoration: none;
  transition: .5s;
}

.navbtn a:hover{
  color: rgb(87, 181, 169);
}


/* Background with fixed position, follows scroll*/
.bg {
    background-image: url(/IMG/topic/topicBG.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Main container, makes each section into one where scroll snap stops */
.main-container section{
    scroll-snap-align: start;
}

/* Header contaier */
.header-container {
    display: flex;
    height: 100vh;
    justify-content: flex-end;
    align-items: center;
}

.header-text {
    margin-right: 4vw;
    font-size: 60px;
    text-align: end;
}

/* VR-Highlight, text positioning*/
.vr-headset {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: flex-end;
}

.vr-headset img {
    width: 100%;
}

.hightlight-text {
    margin: 10px;
    font-size: 2.5vw;
    position: absolute;
    max-width: 40%;
    color: rgb(240, 240, 240);
    font-weight: bolder;
    text-shadow: rgb(12, 12, 12) 1px 1px 50px;
}

/* Container for vr headset, zooms into Zoom content, changes visible div with js */
.zoom-content-container {
    
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.zoom-headline {
    font-size: 30px;
    margin: 20px 0px;
}

.zoom-content {
    margin: 10px;
    display: flex;
    align-items: center;
    scroll-snap-align: end;
    gap: 10px;
}

.zoom-text {
    font-weight: 500;
    font-size: 16px;
}

.zoom-picture {
    max-width: 40%;
    object-fit: contain;
}

@media only screen and (max-width: 800px) {
    .zoom-content {
        flex-direction: column;
    }

    .zoom-picture {
        max-width: 70%;
    }
}